.bar {
    padding: 30px;
}

.activity {
    width: 100%;
    height: 320px;
    background-color: #FBFBFBFF;
    padding-top: 30px;
    position: relative;
    border-radius: 5px;
}

@media (min-width: 1024px) and (max-width: 1240px){
    .activity {
        height: 240px;
    }
}

.activity__title {
    font-weight: 500;
}

.activity .text-color {
    color: rgba(116, 121, 140, 1);
}

.custom-tooltip__activity {
    background-color: red;
    color: white;
    padding: 10px;
}
