.performance {
    width: 260px;
    height: 260px;
    background: #282D30;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) and (max-width: 1240px){
    .performance {
        width: 200px;
        height: 200px;
    }
}
