.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #020203;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 90px;
    padding: 0 20px;
}

.navbar-logo img {
    height: 60px;
    width: 180px;
}

.navbar-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
